<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
  <link type="text/css" rel="stylesheet" href="./css/burger_style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    </div>
    <div class='section'>
     <div class='container'>
            <div class='row'>
                <div class='col s12 center-align'>
                    <h1>EAT DA BURGER</h1>
                    <form action="/" method="POST">
                        <div class="input-field col s12">
                            <input id="burger" type="text" name='burgerToAdd'>
                            <label for="burger">Enter the burger you want to eat</label>
                        </div>
                        <a type="submit" id='add'class='btn-large waves-effect'>ADD BURGER</a>
                    </form>
                </div>
            </div>
            <div class='row'>
              {{{body}}}
            </div>
        </div>
    </div>
    <div class="parallax-container">
            <div class="parallax"><img src="./img/hamburger.jpg"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
</body>
