<div class='col s12 m6'>
    <ul class='burgersToEat collection'>
        <li class="collection-header center-align"><h3>Available Burgers</h3></li>
        {{#each arbitraryName}}
            {{#unless devoured}}  
                <li class='collection-item'><div>{{this.burger_name}}<a href='/' class='secondary-content'id='{{this.id}}'><i class='material-icons'>restaurant</i></a></div></li>
            {{/unless}}
        {{/each}}
    </ul>
</div>
<div class='col s12 m6'>
        <ul class='burgersToEat collection center-align'>
            <li class="collection-header center-align"><h3>Eaten Burgers</h3></li>
            {{#each arbitraryName}}
                {{#if devoured}}  
                    <li class='collection-item'><div>{{this.burger_name}}</div></li>
                {{/if}}
            {{/each}}
        </ul>
</div>
